* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .App {
    background-size: cover;
    background-position: bottom;
    
  }
    
  main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    padding: 25px;
  }
  
  .search-box {
    width: 100%;
    margin: 0 0 75px 20px;
  }
  
  .search-box .search-bar {
    display: block;
    width: 100%;
    padding: none;
  
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;
  
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    
    color: #313131;
    font-size: 20px;
  
    transition: 0.4s ease;
  }
  
  .search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .date-box .location {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }
  
  .date-box .date {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
  
  .weather-box {
    text-align: center;
  }
  
  .weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 15px auto;
    background-color: rgba(185, 182, 182, 0.2);
    border-radius: 16px;
  
    padding: 15px 25px;
  
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
  
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .weather-box .weather-desc {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }

  /* NEW FORECAST CSS */

  .forecast-box {
    width: auto;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  
  .forecast-box-list-li {
    list-style-type: none;
  }
  
  .forecast-box-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 3px 0px 8px silver;
    padding-bottom: 10px;
  }
  
  .forecast-img {
    width: 100px;
    height: 100px;
  }
  
  .forecast-day {
    margin-top: 25px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .forecast-temp {
    padding-bottom: 10px;
    font-size: 20px;
  }
  



  /* .card {
    border-radius: var(--main-border-radius);
}

  .forecast-box {
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color--card);
    color: var(--main-text-color);
    width: 85%;
    max-width: 675px;
    min-height: 300px;
}

  .forecast-List {
    list-style-type: none;
    padding: 0;
    -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: var(--secondary-border-radius);
    background-color: var(--bg-color--card);
}
  
  .forecast-day {
    width: 100px;
    border-radius: var(--secondary-border-radius);
}

  .forecast-day:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #fff;
    color: #222831;

    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
} */